*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}





/*헤더*/

header{
  width: 100%;
  position:fixed;
  z-index: 999;
}

.pc_wrap{
  border-bottom: 1px solid #fff;
  position:fixed;
  width:100%;
  left:50%;
  transform:translateX(-50%);
  z-index: 99;
  height:100px;
}

.pc_wrap .pc_gnb{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.pc_wrap .pc_gnb ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

}

.pc_wrap .pc_gnb ul li{
  list-style: none;
}



.pc_wrap .pc_gnb ul li img{
  max-width: 80px;
}

.pc_wrap .pc_gnb ul li a{
  width:100%;
  display:block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: .5s;
  padding: 5px 10px;
  position: relative;
  margin: 0 25px;
}
.pc_wrap .pc_gnb ul li a:hover{
  color: #fff;
  background-color: #64a7f3;
}




.pc_wrap .pc_gnb ul li a::before{
  content: " ";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #717FFF;
  border-width: 0 0 3px 3px;
  transition: .5s;
  opacity:0;
}

.pc_wrap .pc_gnb ul li a:hover::before{
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.pc_wrap .pc_gnb ul li a::after{ 
  content: " ";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #717FFF;
  border-width: 3px 3px 0 0;
  transition: .5s;
  opacity:0;
}

.pc_wrap .pc_gnb ul li a:hover::after{
  top: -12px;
  right: -12px;
  opacity: 1;
}

.pc_wrap .pc_gnb ul li.logo:hover a{
  background-color: #64a7f300;
}

.pc_wrap .pc_gnb ul li.logo:hover a:hover::before, .pc_wrap .pc_gnb ul li.logo:hover a:hover::after{
  opacity: 0;
}



/* 반응형 버튼 */

.menu{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;
  height: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.menu__list{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  display: none;
  padding-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 120px;
}

.menu__group{
  padding: .5rem 3rem; 
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__group_active{
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}

.menu__item{
  padding: 8px 25px;
  display: block;
}

.menu .list .menu__group a{
  color: #fff;
}

.menu .list .menu__group:hover a{
  color: #233286;
}

/* hamburger */

.hamburger{
  position: relative;
  line-height: 100px;
  padding-bottom: .5em;
  padding-left: 5%;
  display: none;
}

.hamburger:before{
  content: "";
  width: 150px;
  height: 150px;
  background-color: var(--colorMain);
  background: opacity .5;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: -54px;
}

.hamburger__button{
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;
  position: absolute;
  left: 0;
}

.hamburger__button:before, .hamburger__button:after{
  content:"";
}

.hamburger__button:before{
  top: 0;
}

.hamburger__button:after{
  bottom: 0;
}

.hamburger__button:focus{
  outline: none;
}

.hamburger__label{
  margin-top: -.1em;
  top: 50%;
}

/* activated state */

.js-menu_activated{
  overflow: hidden;
}

.js-menu_activated .menu{
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menu_activated .hamburger:before{
  width: 100vh;
  height: 100vh;
  -webkit-transform: translate3d(-50vh, -50vh, 0) scale(5);
          transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu__list{
  display: block;
}

.js-menu_activated .hamburger__button:before{
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
          transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after{
  -webkit-transform: translate3d(0, -50%, 0) rotate(135deg);
          transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label{
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
          transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu{
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.js-menu_activated .menu{
  will-change: opacity;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.hamburger:before{
  will-change: width, height;
  -webkit-transition: width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    -webkit-transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  transition: width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    -webkit-transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    -webkit-transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before{
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.hamburger__button:before, .hamburger__button:after{
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

.hamburger__label{
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

/*
* demo page
*/


:root{
  --colorBlack: #222;
  --colorWhite: #fff;
  --colorGray: #f0f0f0;
  --colorMain: #606fc3d7;
  --colorMainLight: #8491d8;
  --colorMainDark: #233286ae;
}


.page{
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.page__demo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page__container{
  max-width: 370px;
  padding: 10px;
  margin: auto;  
  text-align: center;
}

.page__name{
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.page__hint{
  display: block;
  line-height: 1.45;
  margin-bottom: .5rem;
}



/* home */
#Home{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

#Home .main_vid{
  width: 100%;
  position: absolute;
  top:-10%;
  left:50%;
  transform:translateX(-50%);
  z-index:-1;
}

#Home .main_vid video {
  
}

#Home .home_wrap{
  width: 70%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
}

#Home .home_wrap .home_txt{
  text-align: center;
  color: #fff;
}

#Home .home_wrap .home_txt h2{
  font-size: 6rem;
  padding-bottom: 10%;
  font-weight: bold;
}

#Home .home_wrap .home_txt span{
  font-size: 2rem;
}

.button_gnb{
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
  z-index: 9999;
}

.button_gnb button{
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  height:56px;
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all .5s;
}

.button_gnb button.wallet , .button_gnb button.whte_pp{
 margin-right: 2%;
 width: 200px;
}

.button_gnb button.lan{
  max-width: 56px;
  margin-left: 2%;
}

.button_gnb button a{
  color: #222222;
  font-size: 1.2rem;
  display:block;  
}

.button_gnb button a i{
  padding-right: 2%;
}

.button_gnb button:hover{
  background: rgba(34, 34, 34, 0.7);
}

.button_gnb button:hover a{
  color: #fff;
}

.button_gnb button:hover a i{
  color: #558fd1;
}

.bottom_gnb{
  background-color: #fff;
  position:fixed;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10% 0;
  display:none;
}

.bottom_gnb a{
  display: block;

}

.bottom_gnb a i{
  color: #D4E0EC;
  font-size: 3rem;
}

.bottom_gnb a:hover i{
  color: #558fd1;
}



/* intro */
#intro{
  width: 100%;
  height: auto;
  padding: 10% 0;
  position: relative;
}

#intro::after{
  content: '';
  background: url(../img/intro_bg.png) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
}


#intro .intro_wrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#intro .intro_wrap p{
  text-align: center;
  color: #fff;
  line-height: 2;
  font-size: 1em;
}

/* //intro */

/* business */
#business{
  width: 100%;
  height: auto;
  position: relative;
  padding: 5% 0;
}

#business::after{
  content: '';
  background: url(../img/intro_bg02.png) no-repeat 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20%;
  left: 0;
  z-index: -2;
}

#business .business_wrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#business .business_wrap .image{
  width: 100%;
  text-align: center;
  padding-top: 1%;
}

#business .business_wrap .image img{
  max-width: 80%;
}

#business .business_wrap .text_box{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

#business .business_wrap .text_box .card{
  width: 345px;
  height: 250px;
  background: linear-gradient(to bottom,rgba(57, 122, 198, 0.37),rgba(25, 75, 134, 0)) no-repeat;
  padding: 3% 2%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#business .business_wrap .text_box .card b{
  text-align: center;
  font-style: normal;
  font-size: 1.1em;
  color: #fff;
  padding-bottom: 30px;
}

#business .business_wrap .text_box .card p{
  color: #fff;
  font-size: 1em;
  font-style: normal;
}
