*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}


body{
  overflow-x: hidden;
}


/*contact*/


#contact{
  width: 100%;
  background: url(../img/contact_bg.png) no-repeat center center;
  padding: 100px 0;
}

.contact_area{
  width: 100%; 
}

.contact_area form{
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255,255,255,.9);
  padding: 5%;
  box-shadow: 0 0 30px #000;
  -webkit-box-shadow: 0 0 30px #000;
  border-radius: 15px;
}

.contact_area form h3{
  color: #000;
}

.contact_area form input, .contact_area form textarea{
  display: block;
  border:none;
  width: 90%;
  margin: 0 auto 8%;
  height: 4.2rem;
  border-radius: 40px;
  padding: 5%;
  background-color: rgba(183,210,240,.4);
}

.contact_area form input::placeholder, .contact_area form textarea::placeholder{
  color: #558FD1;
}

.contact_area form input.send{
  width: 50%;
  background-color: #558FD1;
  color: #fff;
  padding: 0 !important;
  height: 4.5rem;

}

.contact_area form input.send:hover{
  background-color: rgba(255,255,2555,.3);
  color: #558FD1;
  box-shadow: 0 0 30px #6fa8e9;
  -webkit-box-shadow: 0 0 30px #6fa8e9;
}

.contact_area form textarea{
  overflow-y: hidden;
  padding: 3.5% 5%;
}


/*footer*/

footer{
  width: 100%;
  color: #fff;
  background-color: #01031F;
  padding: 100px 0 50px;
}

.footer_wrap{
  width: 100%;

}

.footer_contents{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.f_box{
  width: 32%;
}

.f_box h4{
  margin-bottom: 10%;
  font-weight: 700;
}

.f_box h4 span{
  font-weight: normal !important;
}

.f_box3{
  width: 10%;
}

.f_box3 h4{
  margin-bottom: 5% !important;
}


.f_box3 a{
  display: inline-block;
  color: #fff;
  transition: all .5s;
  margin-right: 3%;
  border: 1px solid #fff;
  border-radius: 5px;
}

.f_box3 a:last-child{
  margin-right: 0 !important;
}

.f_box3 a:hover{
  color: #558FD1;
  transform: scale(1.05);
  border: 1px solid #558FD1;
  box-shadow: 0 0 10px #fff;
}


.f_logo{
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}


.f_logo a{
  display: inline-block;
  transition: all 0.6s ease-in-out;
}

.f_logo a:hover{
  transform: rotateY(360deg);
}

.f_logo a img{
  max-width: 90%;
}


.f_text{
  text-align: center;
  color: #4E4A4A;
  font-size: 0.5em;
}

