*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

    .f_box1{
      width: 35%;
    }
    

    #intro .intro_wrap p {
      width: 60%;
      margin: 0 auto;
    }

    
/*데탑*/
@media screen and (max-width:1440px) {
  
  #intro .intro_wrap p {
    width: 78%;
}
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    #business .business_wrap .text_box .card{
      height: 310px;
    }
    .f_box{
      width: 100%;
    }

    #intro .intro_wrap p {
      width: 90%;
  }
}



/*모바일*/

@media screen and (max-width:767px) {

  #business .business_wrap .text_box .card{
    height: 270px;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {
  #business .business_wrap .text_box .card{
    height: 300px;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
