
/*데탑*/
@media screen and (max-width:1440px) {
  #wallet .wallet_wrap .w_contents_wrap .w_txt p {
    line-height: normal;
  }
  #wallet .wallet_wrap .w_contents_wrap .w_img img {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  #wallet .wallet_wrap .w_contents_wrap .w_link_btn {
    margin-top: 40%;
  }


}



/*노트북*/
  @media screen and (max-width:1024px) {
    #wallet .wallet_wrap .w_contents_wrap .w_txt {
      width: 33%;
    }

    #roadmap .roadmap_wrap .road_box_wrap .road_box .road_img {
      width: 35%;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box .road_txt ul {
      padding: 3% 3% 0 10%;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    #wallet .wallet_wrap .w_contents_wrap {
      flex-direction: column;
      align-items: center;
    }
    #wallet .wallet_wrap .w_contents_wrap .w_txt {
      width: 90%;
      margin-bottom: 5%;
    }
    #wallet .wallet_wrap .w_contents_wrap .w_img {
      width: 40%;
    }
    #wallet .wallet_wrap .w_contents_wrap .w_link_btn {
      width: 90%;
      margin-top: 5%;
      padding-left: 60%;
    }
    #wallet .wallet_wrap .w_contents_wrap .w_link_btn a {
      width: 80%;
    }

    #roadmap::before {
      background-size: cover;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box:nth-child(2) {
      align-items: flex-end;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box .road_img {
      width: 70%;
      border-radius: 10px 10px 0 0;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box .road_img img {
      border-radius: 10px 10px 0 0;
    }
    #roadmap .roadmap_wrap .road_box_wrap .road_box .road_txt {
      width: 70%;
      border-radius: 0 0 10px 10px;
    }
}



/*모바일*/

@media screen and (max-width:767px) {
  #wallet .wallet_wrap .w_contents_wrap .w_img {
    width: 60%;
  }
  #wallet .wallet_wrap .w_contents_wrap .w_link_btn {
    padding-left: 50%;
  }

  #roadmap .roadmap_wrap .road_box_wrap .road_box .road_txt ul {
    padding: 5%;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {
  #roadmap .roadmap_wrap .road_box_wrap .road_box .road_txt p br {
    display: none;
  }
  #roadmap .roadmap_wrap .road_box_wrap .road_box .road_img {
    width: 80%;
  }
  #roadmap .roadmap_wrap .road_box_wrap .road_box .road_txt {
    width: 80%;
  }

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    #wallet .wallet_wrap .w_contents_wrap .w_link_btn {
      padding-left: 40%;
    }

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
